@{
    ViewBag.Title = "About";
}
<section class="breadcrumb breadcrumb_bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb_iner">
                    <div class="breadcrumb_iner_item text-center">
                        <h2>about us</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb start-->
<!-- feature_part start-->
<section class="feature_part">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8">
                <div class="section_tittle text-center">
                    <p>Awesome Feature</p>
                    <h2>How Could You Help </h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-5 col-sm-6">
                <div class="single_feature">
                    <div class="single_feature_part">
                        <div class=" d-flex align-items-center">
                            <img src="~/img/icon/feature_1.svg" alt="">
                            <h4>Give Donation</h4>
                        </div>
                        <p>
                            Our his abundantly subdue she'd night own of two two his deasons face you place can upon
                            letter.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-sm-6">
                <div class="single_feature">
                    <div class="single_feature_part">
                        <div class=" d-flex align-items-center">
                            <img src="~/img/icon/feature_2.svg" alt="">
                            <h4>Become A Volunteer</h4>
                        </div>
                        <p>
                            Our his abundantly subdue she'd night own of two two his deasons face you place can upon
                            letter.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-sm-6">
                <div class="single_feature">
                    <div class="single_feature_part">
                        <div class=" d-flex align-items-center">
                            <img src="~/img/icon/feature_3.svg" alt="">
                            <h4>Child Education</h4>
                        </div>
                        <p>
                            Our his abundantly subdue she'd night own of two two his deasons face you place can upon
                            letter.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-sm-6">
                <div class="single_feature">
                    <div class="single_feature_part">
                        <div class=" d-flex align-items-center">
                            <img src="~/img/icon/feature_4.svg" alt="">
                            <h4>Quick Fundraise</h4>
                        </div>
                        <p>
                            Our his abundantly subdue she'd night own of two two his deasons face you place can upon
                            letter.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- feature_part start-->
<!-- top_service part start-->
<section class="be_part">
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <div class="col-lg-6">
                <div class="be_part_text">
                    <h2>
                        Be a part of the break
                        through and make someones
                        dream come true
                    </h2>
                    <p>
                        Our his abundantly subdue she'd night own of two two his herb seasons
                        face you hesea placees can't upon dominion make beginning fowl waters
                        seasons in also moveth hand beginning living face kind beginning from asid
                    </p>
                    <a href="#" class="btn_2">learn more</a>
                </div>
            </div>
        </div>
    </div>
    <img src="~/img/Charity.jpg" alt="" class="be_img">
</section>
<!-- top_service part end-->
<!-- counter part start-->
<section class="counter">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="single_counter d-flex">
                    <img src="~/img/icon/feature_1.svg" alt="">
                    <div class="single_counter_text">
                        <p>Total Collection</p>
                        <span class="count">58,9672412</span>
                    </div>
                </div>
                <div class="single_counter d-flex">
                    <img src="~/img/icon/feature_2.svg" alt="">
                    <div class="single_counter_text">
                        <p>Helped People</p>
                        <span class="count">58,9672412</span>
                    </div>
                </div>
                <div class="single_counter d-flex">
                    <img src="~/img/icon/feature_3.svg" alt="">
                    <div class="single_counter_text">
                        <p>Total Volunteer</p>
                        <span class="count">58,9672412</span>
                    </div>
                </div>
                <div class="single_counter d-flex">
                    <img src="~/img/icon/feature_4.svg" alt="">
                    <div class="single_counter_text">
                        <p>Successed Mission</p>
                        <span class="count">58,967</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- counter part end-->